{% extends 'base.html' %}

{% block title %}About Us - SEO Strategy Advisor{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>About Us</h2>
  <p>At SEO Strategy Advisor, we are committed to helping businesses optimize their online presence through sophisticated search engine optimization (SEO) strategies. Our team of skilled professionals offers a blend of technical expertise, creative insights, and strategic acumen to drive exceptional results for our clients.</p>
  <p>This collaborative effort is led by Maryam Munir, Tayyaba AbdulHameed, Farah Batool, and Zeeshan Iqbal, each bringing unique skills and perspectives to the forefront:</p>
  <ul>
    <li>Maryam Munir, with a strong background in digital marketing and content creation, excels in crafting compelling narratives and optimizing content for search engine performance.</li>
    <li>Tayyaba AbdulHameed, our data analyst, specializes in keyword research, technical SEO, and performance analytics, providing valuable insights into website traffic and search engine rankings.</li>
    <li>Farah Batool, our web development and UX/UI expert, ensures seamless site structure and user interface design, enhancing user experience and search engine navigation.</li>
    <li>Zeeshan Iqbal, our SEO strategist, possesses deep knowledge of search engine algorithms and backlink analysis, enabling us to refine and strengthen our clients' online presence.</li>
  </ul>
  <p>As a cohesive team, we offer a comprehensive and holistic approach to SEO, tailored to the unique needs of each business. Whether you're looking for technical guidance, creative content optimization, or strategic analysis, we are here to assist you in achieving optimal search engine rankings and organic traffic growth.</p>
</div>
{% endblock %}
